@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    NexxtPlanet<br />
    @*Redmond, WA 98052-6399<br />*@
    <abbr title="WhatApps">WhatApps:</abbr>
    +57 313 698 4997
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:soporte@nexxtplanet.net">soporte@nexxtplanet.net</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>